*
{
  font-size: 14px;
  font-family: 'Maple Mono NF CN', monospace;
}

window#waybar {
  all: unset;
}

.modules-left, .modules-center, .modules-right {
  padding: 0px;
  margin: 6px 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05); 
}

.modules-center {
  margin-left: 0;
  background:transparent;
}

.modules-right {
padding-left:6px;
}

/* Tooltip Styles */
tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}

/* Hover effects for individual modules */
#clock:hover, #custom-pacman:hover, #custom-notification:hover, #pulseaudio:hover, #custom-ram:hover,#custom-power:hover, #bluetooth:hover, #network:hover, #battery:hover, 
#cpu:hover, #memory:hover, #temperature:hover {
  transition: all .1s ease;
  color: #1E90FF;
}

#clock {
  padding: 0px 8px;
  /* border-radius: 4px; */
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: #B0C4DE; */
  /* color: #B0C4DE; */
  transition: all .3s ease;
}

#custom-pacman, #custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
}

/* Workspaces Buttons */
#workspaces {
  padding: 0px 5px;
  margin:4px 0px;
  background: transparent;
}

#workspaces button {
  all: unset;
  margin: 0px 2px;
  padding: 0px 8px;
  color: rgba(0, 0, 0, .06);
  transition: all .2s ease;
}

#workspaces button:hover {
  color: #000;
  border: none;
  transition: all .2s ease;
}

#workspaces button.active {
  color: #21222c;
  /* background-color: #50fa7b; */
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}

/* Icon colors for battery, network, and more */
#bluetooth, #network, #pulseaudio, #cpu, #custom-ram,#custom-notification, #custom-power, #battery, #memory, #temperature {
  padding: 0px 5px;
  margin-right:6px;
  transition: all .3s ease;
  /* color: #B0C4DE; */
}

#battery.charging {
    color: #26A65B; /* Green when charging */
}

#battery.warning:not(.charging) {
    color: #FFBE61; /* Yellow warning */
}

#battery.critical:not(.charging) {
    color: #F53C3C; /* Red critical */
    animation: blink 0.5s linear infinite alternate;
}

#group-expand, #custom-expand, #custom-colorpicker, #custom-endpoint {
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.6);
    transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#tray {
    padding: 0px 5px;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
